footer.footer.mt-5.p-5
  .container.d-flex.justify-content-around
    .col-4
      h5.h5.fw-bold about the company
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur incidunt, numquam nemo, nisi repudiandae odit exercitationem voluptates ipsam quos expedita, mollitia porro enim alias ea architecto laboriosam ut ad?
    .col-4
      h5.h5.fw-bold contact us
      .containerContactUs
        span.iconify(data-icon='carbon:phone ' data-inline='false ')
        small  (239) 555-0108
      .containerContactUs
        span.iconify(data-icon='mdi:email-check-outline ' data-inline='false ')
        small  alma.lawson@example.com
      .containerContactUs
        span.iconify(data-icon='cil:location-pin ' data-inline='false ')
        small
          | 73, Avenue de Delorme,
          | 12133 Petitjean
    .col-1
      h5.h5.fw-bold legal
      div
        a.text-reset.text-decoration-none(href='/privacy') Privacy
      div
        a.text-reset.text-decoration-none(href=' ') FAQ
      div
        a.text-reset.text-decoration-none(href='/contact-us') Support
  .row.text-center
    .col
      span.iconify.ico(data-icon='fa-brands:facebook-square ')
      span.iconify.ico(data-icon='fa-brands:instagram-square ')
      span.iconify.ico(data-icon='jam:github ')
      span.iconify.ico(data-icon='ant-design:linkedin-filled ')