footer.footer
          .container-fluid
            .row.text-muted
              .col-6.text-left
                p.mb-0
                  a.text-muted(href='Categories.html')
                    strong Dashboard Youxi 
                  |    &copy;
              .col-6.text-right
                ul.list-inline
                  li.footer-item
                    a.text-muted(href='#') Support
                  li.footer-item
                    a.text-muted(href='#') Help Center
                  li.footer-item
                    a.text-muted(href='#') Privacy
                  li.footer-item
                    a.text-muted(href='#') Terms