.alert {
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  z-index: 9999 !important;
  color: #fff !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  text-align: center !important;
  border-radius: 5px !important;
  padding: 0.8rem 7.5rem !important;
  margin: auto !important;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25) !important;
}
.alert--success {
  background-color: #20bf6b !important;
}
.alert--error {
  background-color: #eb4d4b !important;
}
